{% extends 'base.html.twig' %}

{% block title %}{{ trans('header_title_4', app.request.locale) }}
{% endblock %}

{% block body %}

	<div class="main-internship">
		<div class="text-center my-2">
			<h1 class="global-title">{{ trans('header_title_4', app.request.locale) }}</h1>
		</div>

		{% if internships|length > 0 %}
			{# Add filter here #}
			<div>Les filtres</div>

			<div class="card-container justify-content-center align-items-center flex-wrap mb-5">
				{% for internship in internships %}
					<div class="card">
						<img src="{{ asset('images/image_banner.png') }}" class="card-img-top" alt="{{ internship.title }}">
						<div class="card-content">
							<h2 class="card-title">{{ internship.title }}</h2>
							<p class="card-date mb-1">{{ internship.date }}</p>
							<p class="card-text">{{ internship.description }}</p>
							<div class="text-center">
								<button class="btn-card">Lire la suite</button>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<div class="text-center my-5">
				<p>Aucun stage n'a été trouvé pour le moment.</p>
			</div>
		{% endif %}
	</div>

{% endblock %}
