{% extends 'base.html.twig' %}

{% block title %}{{ trans('header_title_5', app.request.locale) }}
{% endblock %}

{% block body %}

	<div class="main-new">
		<div class="text-center my-2">
			<h1 class="global-title">{{ trans('header_title_5', app.request.locale) }}</h1>
		</div>

		{% if news|length > 0 %}
			{# Add filter here #}
			<div>Les filtres</div>

			<div class="card-container justify-content-center align-items-center flex-wrap mb-5">
				{% for new in news %}
					<div class="card">
						<img src="{{ asset('images/uploads/' ~ new.getMainImage()) }}" class="card-img-top" alt="{{ new.title }}">
						<div class="card-content">
							<h2 class="card-title">{{ new.title }}</h2>
							<p class="card-date mb-1">{{ new.date|date('d M Y') }}</p>
							<p class="card-text">{{ new.description }}</p>
							<div class="text-center">
								<button class="btn-card">{{ trans('btn_next_read', app.request.locale) }}</button>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<div class="text-center my-5">
				<p>{{ trans('text_no_data_news', app.request.locale) }}</p>
			</div>
		{% endif %}
	</div>

{% endblock %}
