{% extends 'base.html.twig' %}

{% block title %}
	{{ trans('header_title_connection', app.request.locale) }}
{% endblock %}

{% block body %}
	<form method="post" class="form">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">{{ trans('header_title_connection', app.request.locale) }}</h1>

		<input type="email" value="{{ last_username }}" name="_username" id="username" placeholder="{{ trans('contact_us_email_form', app.request.locale) }}" class="form-control" autocomplete="email" required autofocus>
		<input type="password" name="_password" id="password" placeholder="{{ trans('global_password', app.request.locale) }}" class="form-control" autocomplete="current-password" required>
		
        <div class="d-flex justify-content-between mb-2">
			<p class="mt-3 mr-3">
				<a href="#">Mot de passe oublié ?</a>
			</p>
			<p class="mt-3">
				<a href="{{ path('app_register') }}">Pas encore inscrit ?</a>
			</p>
		</div>
		
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<button class="global-btn-green global-btn primary" type="submit"> {{ trans('btn_connection', app.request.locale) }}</button>
	</form>
{% endblock %}
