{% extends 'base.html.twig' %}

{% block title %}
	{{ trans('account_creation', app.request.locale) }}
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	{{ form_errors(registrationForm) }}

	{{ form_start(registrationForm, {'attr':{'class': 'form'}}) }}

	    <h1>{{ trans('account_creation', app.request.locale) }}</h1>

	    {{ form_widget(registrationForm.lastname) }}
	    {{ form_widget(registrationForm.firstname) }}
	    {{ form_widget(registrationForm.email) }}
	    {{ form_widget(registrationForm.plainPassword) }}

	    <p class="mb-1">
	    	<a href="{{ path('app_login') }}">Déjà un compte ?</a>
	    </p>

	    <button type="submit" class="global-btn-green global-btn primary">{{ trans('btn_inscription', app.request.locale) }}</button>
	{{ form_end(registrationForm) }}
{% endblock %}
