<header>
	<div class="container-header">
		<div class="logo">
			<a href="{{ path('app_home') }}">
				<img src="{{ asset('images/logo.png') }}" alt="Alphorn Project Logo">
			</a>
		</div>
		<nav class="navbar">
			<ul>
				<li><a href="#cours-en-ligne">{{ trans('header_title_1', app.request.locale) }}</a></li>
				<li><a href="{{ path('app_accessories') }}">{{ trans('header_title_2', app.request.locale) }}</a></li>
				<li><a href="{{ path('app_internship') }}">{{ trans('header_title_4', app.request.locale) }}</a></li>
				<li><a href="{{ path('app_news') }}">{{ trans('header_title_5', app.request.locale) }}</a></li>
				<li><a href="{{ path('app_testimonial') }}">{{ trans('header_title_6', app.request.locale) }}</a></li>
				<li><a href="{{ path('app_contact') }}">{{ trans('header_title_7', app.request.locale) }}</a></li>
				{% if app.user %}
					<li><a href="{{ path('app_profile') }}">{{ trans('header_my_account', app.request.locale) }}</a></li>
				{% else %}
					<li><a href="{{ path('app_login') }}">{{ trans('header_title_connection', app.request.locale) }}</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
</header>
